*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* styling my bacgroung */
body{
    height: 100vh;
    width:  100%;
    background-color: rgb(146, 193, 199);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100% ;
}  

/* styling my content box */
.content{
    background-color: white;
    padding: 100px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 550px;
    font-size: 16px;
    border-radius: 5px;
}
/* styling my header */
.reg{
    font-size: 20px;
    font-weight: 200px;
}
/* styling the contents */
.yes{
    display: flex;
    flex-direction: column;
    width: 100%;

}
input[type="text"].yes-1{
    font-size: 16px;
    outline: none;
    width: calc(100%-20px);
    border: 2px solid black;
    padding: 8px;
    transition: all 0.3s ease;
}
input[type="tel"].yes-2{
    font-size: 16px;
    outline: none;
    width: calc(100%-20px);
    border: 2px solid black;
    padding: 8px;
    transition: all 0.3s ease;
}

input[type="email"].yes-3{
    font-size: 16px;
    outline: none;
    width: calc(100%-20px);
    border: 2px solid black;
    padding: 8px;
    transition: all 0.3s ease;
}
input[type="password"].yes-4{
    font-size: 16px;
    outline: none;
    width: calc(100%-20px);
    border: 2px solid black;
    padding: 8px;
    transition: all 0.3s ease;
}
#gender{
    font-size: 16px;
    outline: none;
    width: calc(100%-20px);
    border: 2px solid black;
    padding: 8px;
    
}

#birthday{
    font-size: 16px;
    outline: none;
    width: calc(100%-20px);
    border: 2px solid black;
    padding: 8px;
}
button{
    outline: none;
    background-color:rgb(146, 193, 199) ;
    color: white;
    padding: 16px;
    display: block;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    box-shadow: 3px 3px 3px rgb(13, 223, 238);
}
a{
    color: white;
    text-decoration: none;
}
input[type="text"].yes-1:hover, input[type="tel"].yes-2:hover, input[type="email"].yes-3:hover,input[type="password"].yes-4:hover {
    border: 5px solid rgb(13, 223, 238);
}
input[type="text"].yes-1:focus, input[type="tel"].yes-2:hover, input[type="email"].yes-3:hover,input[type="password"].yes-4:hover {
    border: 5px solid rgb(13, 223, 238);
}
input[type="text"].yes-1:active, input[type="tel"].yes-2:hover, input[type="email"].yes-3:hover,input[type="password"].yes-4:hover {
    border: 5px solid rgb(13, 223, 238);
}